.assignment-wrapper {
  border: 1px dashed lightgray;
  padding: 1em;
  border-radius: 1em;
  margin-top: 2em;
}

.assignment-wrapper-title {
  margin-top: -1.4em;
  background-color: white;
  width: fit-content;
}

.comment-bubble {
  background-color: #eee;
  border-radius: 1.2em;
  padding: 0.7em;
  margin: 1em 0;
}
